<!DOCTYPE html>
<html>
<head>
    {include file="render/render_css" /}
    {include file="render/theme_css" /}
</head>
<body class="{$Think.const.THEME}">
<div class="wrapper">
    {include file="common/header" /}
    <!-- Left side column. contains the logo and sidebar -->
    {// include file="common/sidebar" /}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                <i style="color: #00a157">Release Note</i>
                <!--<small></small>-->
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="row">

                <div class="col-md-2">
                    <ul class="list-group">
                        <button type="button" class="list-group-item">About Web UI</button>
                        <button type="button" class="list-group-item">About WinPE</button>
                    </ul>
                </div>
                <div class="col-md-10" id="note">
                </div>

                <div class="col-md-1"></div>
            </div>
        </section>
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    {include file="common/footer" /}

</div>
<!-- ./wrapper -->
<script src="__PUBLIC_JS__/showdown/showdown.min.js"></script>
{include file="render/render_js" /}

<script>
    $(function () {

        mouseEffect();
        var converter = new showdown.Converter();
        $.ajax({
           type : "post",
           url: "{:url('ReleaseNote/getReleaseNotes')}",

           success : function (result) {
               var html = converter.makeHtml(result);
               document.getElementById("note").innerHTML = html;
           },
           error : function(){
               toast.error('get release note fail');
           }
        })

    });

</script>

</body>
</html>