<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
    {include file="render/render_css" /}

    <!-- Select2 -->
    <link rel="stylesheet" href="__PUBLIC_CSS__/select2/select2.min.css">
    <!-- bootstrap datepicker -->
    <!--<link rel="stylesheet" href="__PUBLIC_CSS__/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css">-->
    <link rel="stylesheet" href="__PUBLIC_CSS__/clockpicker-gh-pages/bootstrap-clockpicker.min.css">
    <!-- BS Select -->
    <!--<link rel="stylesheet" href="__PUBLIC_CSS__/bootstrap-select/css/bootstrap-select.min.css">-->
    <!--jquery.spinner-->
    <link rel="stylesheet" href="__PUBLIC_CSS__/jquery.spinner/bootstrap-spinner.min.css">
    <!--fakeLoader.min.js-->
    <!--<link rel="stylesheet" href="__PUBLIC_CSS__/fakeLoader/fakeLoader.css">-->
    <!--jquery.shCircleLoader-->
    <!--<link rel="stylesheet" href="__PUBLIC_CSS__/jquery.shCircleLoader/jquery.shCircleLoader.css">-->
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="__PUBLIC_CSS__/iCheck/all.css">

    <!-- Ionicons -->
    <!--<link rel="stylesheet" href="__PUBLIC_CSS__/Ionicons/ionicons.min.css">-->

    {include file="render/theme_css" /}
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<!--<body class="hold-transition skin-blue sidebar-mini">-->
<body class="{$Think.const.THEME}">

<div class="wrapper">

    {include file="common/header" /}
  <!-- Left side column. contains the logo and sidebar -->
    {// include file="common/sidebar" /}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
      <section class="content">

          <div class="row">
              <div class="col-xs-12">
                  <div class="box box-default">
                      <div class="box-header with-border">
                          <h3 class="box-title">Selection</h3>
                      </div>
                      <div class="box-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <select class="form-control" style="width: 100%;" name="selection">
                                        <option>JumpStart</option>
                                        <option>Recovery</option>
                                        <option>C-Test</option>
                                        <option>Treboot</option>
                                    </select>
                                </div>
                                <input type="text" id="forCollapse" hidden>
                                <input type="text" id="knowTool" hidden>
                                <!--从taskManager页面传递过来的taskId-->
                                <input type="text" id="taskId" hidden value="{$taskId}">
                                <input type="text" id="ip" hidden value="{$ipCheck}">
                                <div class="col-md-5">
                                    <button type="button" class="btn btn-success" id="addTool"> <i class="fa fa-plus fa-fw"></i> Add Tool </button>
                                </div>
                            </div>

                      </div>
                  </div>
              </div>
          </div>
          <!--<select class="selectpicker" data-live-search="true" data-size="5"></select>-->
          <div class="box box-default panel-group" id="content" style="display: none">
              <div class="box-header with-border">
                  <h3 class="box-title">Add</h3>
              </div>
              <form  id="toolForm">
                  <div class="box-body" id="box_body"></div>
                  <div class="box-footer">
                      <button type="button" class="btn btn-primary pull-right" id="sub"><i class="fa fa-hand-o-right fa-fw"></i> Submit</button>
                  </div>
              </form>
          </div>

      </section>

  </div>
  <!-- /.content-wrapper -->
    {include file="common/footer" /}

</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->
{include file="render/render_js" /}

<!-- Select2 -->
<script src="__PUBLIC_JS__/select2/select2.min.js"></script>
<!-- bootstrap datepicker -->
<!--<script src="__PUBLIC_JS__/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>-->
<script src="__PUBLIC_JS__/clockpicker-gh-pages/bootstrap-clockpicker.min.js"></script>
<!--jquery.spinner-->
<script src="__PUBLIC_JS__/jquery.spinner/jquery.spinner.min.js"></script>
<!-- iCheck 1.0.1 -->
<script src="__PUBLIC_JS__/iCheck/icheck.min.js"></script>
<!--selfJs-->
<script src="__PUBLIC_JS__/assets/toolHandler.js"></script>

<script>
    $(function () {

        // selection for toolName
        $('select[name="selection"]').select2({
                width: "100%"
            }
        );

        $('#content').on('click', '.delete', function () {
            $(this).parent().parent().parent().parent().remove();
            var buttonCount = $('.delete').length;
            if (0 === buttonCount) {
                $('#content').css('display', 'none');
            }

        }).on('click', '.addButton', function () {
            addToolByButton(2, $(this));

        });

        $('#addTool').click(function () {
            addToolByButton(1);
        });


        // submit
        $('#sub').click(function () {
            if (!validateFormData()) {
                data = formToJson();
                $.ajax({
                    type : "post",
                    url: "{:url('ToolHandler/insertAddTool')}",
                    data: {
                        taskId: $('#taskId').val(),
                        formObj : data
                    },
                    beforeSend : function(){
                        $('#sub').attr('disabled', 'true');
                    },
                    success : function (result) {
                        if ("done" === result) {
                            toastr.success("Add Tool Steps Success");
                            setTimeout("window.location.href=\"TaskManager\";", 500);
                        }

                    },
                    error : function(){
                        toastr.error("Submit Fail, Try Again");
                        $('#sub').attr('disabled', 'true');
                    }

                })
            }
        })
        
    });

    function addToolByButton(type, obj) {
        var selection, toolId;
        selection= $('select[name="selection"]').select2('val');
        var collapseId = Number($('#forCollapse').text()); // 初始值为0
        $.ajax({
            type : "post",
            url: "{:url('ToolHandler/getTool')}",
            data: {
                selection : selection,
                collapseId : collapseId
            },
            success : function (result) {
                if ('none' === $('#content').css('display')){
                    $('#content').css('display', 'block');
                }
                if (1 === type) {
                    $('#box_body').append('<div>' + result +'</div>');
                    lastDiv = $('#box_body').children('div:last');
                    addThenInit(selection, lastDiv);

                } else if (2 === type) {
                    lastDiv = obj.parent().parent().parent().parent();
                    lastDiv.after('<div>' + result +'</div>');
                    addThenInit(selection, lastDiv.next());

                }
            },
            error : function(){
                toastr.error("Add Fail, Try Again");
            },
            complete: function () {
                $('#forCollapse').text(collapseId + 1);
            }
        });
    }

    function addThenInit(selection, obj) {
        if (JumpStart === selection) {
            // testImage
            obj.find('select[name="TestImage"]').each(function () {
                var _this = $(this);
                _this.select2({
                    width: "100%",
                    ajax: {
                        url: "{:url('ToolHandler/getTestImage')}",
                        dataType: 'json',
                        delay: 250,
                        data: function (params) {
                            return {q: params.term};
                        },
                        processResults: function (data) {
                            return {results: data};
                        },
                        cache: false
                    },
                    placeholder: 'Please Select',
                    allowClear: true
                }).html('<option value="' + 'Keep Current Image' + '">' + 'Keep Current Image' + '</option>').trigger("change");

            });

            // Execute Job
            obj.find('.select').each(function () {
                $(this).select2();
            });
            // OS Activation & BaseLine Image
            obj.find('input[type="radio"].minimal').each(function () {
                $(this).iCheck(
                    {radioClass: 'iradio_minimal-blue'}
                );
            });


        } else if (Recovery === selection) {
            // testImage
            obj.find('select[name="TestImage"]').each(function () {
                var _this = $(this);
                _this.select2({
                    width: "100%",
                    ajax: {
                        url: "{:url('ToolHandler/getTestImage')}",
                        dataType: 'json',
                        delay: 250,
                        data: function (params) {
                            return {q: params.term};
                        },
                        processResults: function (data) {
                            return {results: data};
                        },
                        cache: false
                    },
                    placeholder: 'Please Select',
                    allowClear: true
                });

            });
            // OS Activation
            obj.find('input[type="radio"].minimal').each(function () {
                $(this).iCheck(
                    {radioClass: 'iradio_minimal-blue'}
                );
            });


        } else if (C_Test === selection) {
            // week
            obj.find('#week').select2({
                width: "100%"
            });

            // jquery spinner init
            obj.find('[data-trigger="spinner"]').spinner();

            //datetimepicker
            obj.find('.clockpicker').clockpicker({
                default:'now'
            });

            // End After
            obj.find('input[type="radio"].minimal').each(function () {
                $(this).iCheck(
                    {radioClass: 'iradio_minimal-blue'}
                ).on('ifChecked', function () {
                    _father = $(this).parent().parent().parent().parent();
                    _father.find('.col-sm-4').children('div').css('display', 'none');
                    _father.find('#' + $(this).val()).css('display', 'block');
                });
            });

            // testImage
            obj.find('select[name="TestImage"]').each(function () {
                var _this = $(this);
                _this.select2({
                    width: "100%",
                    ajax: {
                        url: "{:url('ToolHandler/getTestImage')}",
                        dataType: 'json',
                        delay: 250,
                        data: function (params) {
                            return {q: params.term};
                        },
                        processResults: function (data) {
                            return {results: data};
                        },
                        cache: false
                    },
                    placeholder: 'Please Select',
                    allowClear: true
                }).html('<option value="' + 'Keep Current Image' + '">' + 'Keep Current Image' + '</option>').trigger("change");

            });

        } else if (Treboot === selection) {
            // testImage
            obj.find('select[name="TestImage"]').each(function () {
                var _this = $(this);
                _this.select2({
                    width: "100%",
                    ajax: {
                        url: "{:url('ToolHandler/getTestImage')}",
                        dataType: 'json',
                        delay: 250,
                        data: function (params) {
                            return {q: params.term};
                        },
                        processResults: function (data) {
                            return {results: data};
                        },
                        cache: false
                    },
                    placeholder: 'Please Select',
                    allowClear: true
                });

            });
            // count
            obj.find('input[type="radio"].minimal').each(function () {
                $(this).iCheck(
                    {radioClass: 'iradio_minimal-blue'}
                );
            });

        }
    }
</script>

</body>
</html>