<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button type="button" class="btn btn-info btn-block" data-toggle="collapse" data-target="#collapse_3"><b>C-Test</b>
</button>
<div id="collapse_3" class="panel-collapse collapse in">
    <div class="panel-body form-horizontal">
        <div class="form-group">
            <label class="col-sm-1 control-label">End After</label>
            <div class="col-sm-4" style="padding-top: 7px;padding-left: 14px">
                <label style="margin-right: 19px"><input type="radio" name="End After_3" class="minimal" value="Count" checked/> Count</label>
                <label style="margin-right: 19px"><input type="radio" name="End After_3" class="minimal" value="Terminus" /> Terminus</label>
                <label style="margin-right: 19px"><input type="radio" name="End After_3" class="minimal" value="Interval" /> Interval</label>
            </div>

            <label class="col-sm-1 control-label">End After Data</label>
            <div class="col-sm-4">
                <div id="Count" style="display: block">
                    <input type="number" max="1000" min="1">
                </div>
                <div id="Terminus" style="display: none">
                    <select>
                        <option>1</option>
                        <option>1</option>
                        <option>1</option>
                    </select>
                    <input type="number" max="1000" min="1">
                </div>
                <div id="Interval" style="display: none">
                    <input type="number" min="0"> Days
                    <input type="number" max="24" min="0"> Hours
                    <input type="number" max="60" min="0"> Mins
                </div>
            </div>
        </div>
        <hr>
        <button type="button" class="btn btn-success delete"> delete</button>
    </div>
</div>
</body>
</html>
</body>
</html>