<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="../../public/static/css/jquery.spinner/bootstrap-spinner.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>
    <script src="../../public/static/js/jquery.spinner/jquery.spinner.js"></script>

</head>
<body>
<button type="button" class="btn btn-info btn-block" data-toggle="collapse" data-target="#collapse_3"><b>C-Test</b>
</button>
<div id="collapse_3" class="panel-collapse collapse in">
    <div class="panel-body form-horizontal">
        <div class="form-group">
            <label class="col-sm-1 control-label">End After</label>
            <div class="col-sm-4" style="padding-top: 7px;padding-left: 14px">
                <label style="margin-right: 19px"><input type="radio" name="End After_3" class="minimal" value="Count" checked/> Count</label>
                <label style="margin-right: 19px"><input type="radio" name="End After_3" class="minimal" value="Terminus" /> Terminus</label>
                <label style="margin-right: 19px"><input type="radio" name="End After_3" class="minimal" value="Interval" /> Interval</label>
            </div>

            <label class="col-sm-1 control-label">End After Data</label>
            <div class="col-sm-4">
                <div id="Count" style="display: none">
                    <!--<input type="number" max="1000" min="1">-->
                    <div class="input-group spinner" data-trigger="spinner">
                        <input type="text" class="form-control text-center" value="1" data-rule="quantity">
                        <div class="input-group-addon">
                            <a href="javascript:;" class="spin-up" data-spin="up"><i class="fas fa-caret-up"></i></a>
                            <a href="javascript:;" class="spin-down" data-spin="down"><i class="fas fa-caret-down"></i></a>
                        </div>
                    </div>
                </div>
                <div id="Terminus" style="display: block" class="form-group">
                    <div class="form-inline">
                        <div class="input-group">
                            <select>
                                <option>1</option>
                                <option>1</option>
                                <option>1</option>
                            </select>
                        </div>
                        <div class="input-group col-sm-2">
                            <!--<b>hhh</b>-->
                            <span class="">asdasd</span>
                        </div>
                        <div class="input-group spinner col-sm-3" data-trigger="spinner">
                            <input type="text" class="form-control text-center" value="1" data-rule="hour">
                            <div class="input-group-addon">
                                <a href="javascript:;" class="spin-up" data-spin="up"><i class="fas fa-caret-up"></i></a>
                                <a href="javascript:;" class="spin-down" data-spin="down"><i class="fas fa-caret-down"></i></a>
                            </div>
                        </div>

                        <div class="input-group spinner col-sm-3" data-trigger="spinner">
                            <input type="text" class="form-control text-center" value="1" data-rule="hour">
                            <div class="input-group-addon">
                                <a href="javascript:;" class="spin-up" data-spin="up"><i class="fas fa-caret-up"></i></a>
                                <a href="javascript:;" class="spin-down" data-spin="down"><i class="fas fa-caret-down"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Interval" style="display: none">
                    <div class="form-inline">
                        <div class="input-group spinner col-sm-3" data-trigger="spinner">
                            <input type="text" class="form-control text-center" value="1" data-rule="hour">
                            <div class="input-group-addon">
                                <a href="javascript:;" class="spin-up" data-spin="up"><i class="fas fa-caret-up"></i></a>
                                <a href="javascript:;" class="spin-down" data-spin="down"><i class="fas fa-caret-down"></i></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <hr>
        <button type="button" class="btn btn-success delete"> delete</button>
    </div>
</div>
</body>
</html>
</body>
</html>