<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Scan</title>
    <script type="text/javascript" src="__PUBLIC_JS__/jquery/jquery.min.js"></script>
    <script src="__PUBLIC_JS__/bootstrap4/bootstrap.min.js"></script>
    <link rel="stylesheet" href="__PUBLIC_CSS__/bootstrap4/bootstrap.min.css">
</head>
<script>

    $(function () {
        $('#hello').on("keydown", function (event) {
            var e = event || window.event || arguments.callee.caller.arguments[0];
            if (e && e.keyCode == 13) {
                var str = $('#hello').val();
                if (str.length !== 7) {
                    alert("输入有误");
                } else {
                    $('#hello').val('');
                    str = str + ' / ';
                    $('#list:eq(0)').prepend('<li class="alert alert-success"><span class="text-black"><i name="item"> ' + str + '</i> <button name="delete" class="btn btn-warning btn-sm pull-right">Delete This</button></span></li>');
                }

            }
        });
        $('#list').on("click", "[name='delete']", function(){
            $(this).parent().parent().remove();
        });

        setInterval(function(){
            $('#hello').focus();
        },60);

        $('#sub').click(function () {

            var itemArray = [];
            $("[name=item]").each(function (i) {
                var str = $(this).html();
                str = str.replace(' / ', '');
                itemArray.push(str);
            });

            console.log(itemArray);
            if (0 == itemArray.length) {
                alert('请输入或扫码至少一台机子编号');
                return false;
            }
            window.location.href='{:url("personal/Personal/compareToExcel")}?users='+ $('#users').val() + '&items=' + JSON.stringify(itemArray);

        });

        $('#clearAll').click(function () {
            $("[name=item]").each(function () {
                $(this).parent().parent().remove();
            });

        });

    });

</script>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>扫码界面</h1>
            <p>学的不仅是技术，更是梦想！！！</p>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">@用户名</span>
            </div>
            <input type="text" class="form-control" disabled value="{$users}" id="users">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text">@扫码</span>
            </div>
            <input type="text" class="form-control" placeholder="Your Code" id="hello" maxlength="7">
        </div>
        <div class="alert alert-warning">
            <div class="row">
                <div class="col-sm-4"><i>detect machine as blows</i></div>
                <div class="col-sm-4 offset-sm-4">
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-dark">操作 => </button>
                        <button type="button" class="btn btn-primary" id="clearAll">清空 </button>
                        <button type="button" class="btn btn-primary" id="sub">提交比对</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="height:600px;width:100%;overflow: auto;">
                <ul class="list-unstyled" id="list"></ul>
            </div>
        </div>
    </div>
</body>
</html>