<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>

<head>
    {include file="common/plugins" /}

    <!-- Select2 -->
    <link rel="stylesheet" href="__PUBLIC_CSS__/select2/select2.min.css">
    <!-- bootstrap datepicker -->
    <!--<link rel="stylesheet" href="__PUBLIC_CSS__/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css">-->
    <link rel="stylesheet" href="__PUBLIC_CSS__/clockpicker-gh-pages/bootstrap-clockpicker.min.css">
    <!-- BS Select -->
    <!--<link rel="stylesheet" href="__PUBLIC_CSS__/bootstrap-select/css/bootstrap-select.min.css">-->
    <!--jquery.spinner-->
    <link rel="stylesheet" href="__PUBLIC_CSS__/jquery.spinner/bootstrap-spinner.min.css">
    <!--fakeLoader.min.js-->
    <!--<link rel="stylesheet" href="__PUBLIC_CSS__/fakeLoader/fakeLoader.css">-->
    <!--jquery.shCircleLoader-->
    <!--<link rel="stylesheet" href="__PUBLIC_CSS__/jquery.shCircleLoader/jquery.shCircleLoader.css">-->
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="__PUBLIC_CSS__/iCheck/all.css">
    <link rel="stylesheet" href="__PUBLIC_JS__/layui/layui/css/layui.css">

    <style>
        .addButton,
        .delete,
        #addTool {
            width: 92px !important;
            background: #068de7;
            color: #fff;
        }
    </style>

</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<!--<body class="hold-transition skin-blue sidebar-mini">-->

<body class="hold-transition skin-purple layout-top-nav">

    <div class="wrapper">

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <section class="content">

                <div class="row">
                    <div class="col-xs-12">
                        <div class="box box-default">
                            <div class="box-header with-border">
                                <h3 class="box-title">Selection</h3>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <select class="form-control" style="width: 100%;" name="selection">
                                    </select>
                                    </div>
                                    <input type="text" id="forCollapse" hidden>
                                    <input type="text" id="knowTool" hidden>
                                    <!--从taskManager页面传递过来的taskId-->
                                    <input type="text" id="taskId" hidden value="{$taskId}">
                                    <input type="text" id="ip" hidden value="{$ipCheck}">
                                    <div class="col-md-5">
                                        <button type="button" class="btn" id="addTool"> <i class="fa fa-plus fa-fw"></i> Add</button>
                                        <a class="btn btn-success" href="Setting"> <i class="fa fa-toggle-right fa-fw"></i> Settings</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!--<select class="selectpicker" data-live-search="true" data-size="5"></select>-->
                <div class="box box-default panel-group" id="content" style="display: none">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add</h3>
                    </div>
                    <form id="toolForm">
                        <div class="box-body" id="box_body"></div>
                        <div class="box-footer">
                            <button type="button" class="btn btn-primary pull-right" id="sub"><i class="fa fa-hand-o-right fa-fw"></i> Submit</button>
                        </div>
                    </form>
                </div>

            </section>

        </div>
        <!-- /.content-wrapper -->
        {include file="common/footer" /}

    </div>
    <!-- ./wrapper -->

    <!-- Select2 -->
    <script src="__PUBLIC_JS__/select2/select2.min.js"></script>
    <!-- bootstrap datepicker -->
    <!--<script src="__PUBLIC_JS__/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>-->
    <script src="__PUBLIC_JS__/clockpicker-gh-pages/bootstrap-clockpicker.min.js"></script>
    <!--jquery.spinner-->
    <script src="__PUBLIC_JS__/jquery.spinner/jquery.spinner.min.js"></script>
    <!-- iCheck 1.0.1 -->
    <script src="__PUBLIC_JS__/iCheck/icheck.min.js"></script>
    <!--selfJs-->
    <script src="__PUBLIC_JS__/assets/toolHandler.js?version={$Think.const.ATS_VERSION}"></script>
    <script src="__PUBLIC_JS__/layui/layui/layui.js"></script>

    <script>
        $(function() {
            urlLink = "{:url('ToolHandler/getFileName')}";

            select2Init($('select[name="selection"]'), urlLink, '', 'toolName');

            $('#content').on('click', '.delete', function() {
                $(this).parent().parent().parent().parent().remove();
                var buttonCount = $('.delete').length;
                if (0 === buttonCount) {
                    $('#content').css('display', 'none');
                }

            }).on('click', '.addButton', function() {
                addToolByButton('mid', $(this), urlLink);

            });

            $('#addTool').click(function() {
                addToolByButton('end', null, urlLink);
            });


            // submit
            $('#sub').click(function() {
                if (!validateFormData()) {
                    data = formToJson();
                    $.ajax({
                        type: "post",
                        url: "{:url('ToolHandler/insertAddTool')}",
                        data: {
                            taskId: $('#taskId').val(),
                            formObj: data
                        },
                        beforeSend: function() {
                            $('#sub').attr('disabled', 'true');
                        },
                        success: function(result) {
                            if ("done" === result) {
                                toastr.success("Add Tool Steps Success");
                                setTimeout("window.location.href=\"TaskManager\";", 500);
                            }

                        },
                        error: function() {
                            toastr.error("Submit Fail, Try Again");
                            $('#sub').attr('disabled', 'true');
                        }

                    })
                }
            })

        });
    </script>

</body>

</html>