
<!-- Main Header -->
<header class="main-header">

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-header">
            <!-- Logo -->
            <a class="navbar-brand">
                <b>
                    <!--<img src="__PUBLIC_IMG__/logo.png" class="bg-fuchsia">-->
                    <i>Dynabook</i> <i class="text-yellow"> ATS</i>
                </b>
                <!--<span class="text-aqua"> ATS</span>-->
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <i class="fa fa-bars"></i>
            </button>
        </div>
        <!-- 为了小屏幕有个button可以collapse-->
        <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="{$dashBoard}"><a href="DashBoard">
                    <!--<i class="fa fa-pie-chart"></i> -->
                    Dash Board
                </a>
                </li>
                <li class="{$taskManager}">
                    <a href="TaskManager">
                        <!--<i class="fa fa-edit"></i>-->
                        Task Manager
                    </a>
                </li>
                <li class="{$portCheck}"><a href="PortCheck">
                    <!--<i class="fa fa-link"></i>-->
                    Port Check
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <!--<i class="fa fa-book"></i>-->
                        Documentation
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="Document" target="_blank"><i class="fa fa-book"></i> <span>&nbsp;Manual</span></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- User Account Menu -->
                <li class="dropdown user user-menu">
                    <!-- Menu Toggle Button -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="useToggle">
                        <!-- The user image in the navbar-->
                        <img src="__PUBLIC_IMG__/IMG_2.gif" class="user-image" alt="User Image">
<!--                        <img src="../dist/img/user3-128x128.jpg" class="user-image" alt="User Image">-->
                        <!-- hidden-xs hides the username on small devices so only the image appears. -->
                        <span class="hidden-xs">{$Think.session.transToAts}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- The user image in the menu -->
                        <li class="user-header">
                            <img src="__PUBLIC_IMG__/IMG_2.gif" class="img-circle" alt="User Image">
                            <p>{$login}-{$description}<small>{$email}</small></p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
<!--                                <a href="#" class="btn btn-default btn-flat">Profile</a>-->
                            </div>
                            <div class="pull-right">
                                <a href="SignOut" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
